#yellow-block{
    width: 100px;
    height: 50px;
    background-color: aquamarine;
}

.photo-column{
    background-color: brown;
    height: 900px;
}

#photo-galley{
    background-color: burlywood;
    height: 900px;
}

.photo-sm{
    width: 100%;
    height: 380px;
    background-color: cornsilk;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 480px;
    background-color: darkgray;
    margin-top: 20px;
    overflow: hidden;
}

@media (min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media (min-width: 767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width: 991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}